/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: #000;
  margin: 40px;
  font-family:  sans-serif;
}

.site-header {
  background-image: url(../img/code_920px.png);
  color: #fff;
  padding: 55px 80px 50px 30px;
  border: solid 2px white;
  margin-bottom: 20px;
}

div {
  background-color: #2afca6;
  margin-bottom: 20px;
  padding: 40px 60px;
}

article {
  background-color: #fff;
  padding: 40px 60px;
}

img {
  width: 440px;

}
